body {
  background-color: #611f69;
}

.information-container {
  margin: auto;
  text-align: center;
  padding-bottom: 32px;
}

.images-container {
  margin: auto;
  text-align: center;
}

h1 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.install-link:link, .install-link:visited {
  background-color: white;
  color: #611f69;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  border-radius: 3px;
}

.install-link:hover, .install-link:active {
  background-color: lightgrey;
}