<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <meta charset="UTF-8">
    <title>Recording Design Decisions in Slack</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/bot.png') }}">
</head>
<body>

<div class="information-container">
    <h1> Recording Design Decision in Slack </h1>
    <div>
        <img alt="Slackbot Logo" src="{{ url_for('static', filename='images/bot.png') }}" height="223" width="223"/>
        <div>
            <a href="{{ url }}" class="install-link">Installation</a>
        </div>
    </div>
</div>

<div class="images-container">
    <img alt="Slackbot Process" src="{{ url_for('static', filename='images/process.png') }}" width="720" height="532"/>
    <img alt="Slackbot Interaction" src="{{ url_for('static', filename='images/interaction.png') }}" width="720" height="531"/>
</div>

</body>
</html>